/* fontface */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400..700,0..1,0");
@import url("excon.css");

/* material design 3 */
@import url("https://cdn.jsdelivr.net/gh/dejesusbg5/md3/styles/components.css");
@import url("https://cdn.jsdelivr.net/gh/dejesusbg5/md3/styles/styles.css");

:root {
  --font-name: "Excon-Medium";
}

.md3-topbar__leading img {
  width: 2.25rem;
  height: auto;
  margin: 0 1rem;
}

#balance-card {
  text-align: end;
}

#balance-card span.md3-card__headline {
  font: var(--font-display-l);
}

/* styling for nav items */

nav .md3-nav__item-radio:not(:checked) + .md3-nav__item .md3-nav__item__icon {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48 !important;
}

nav .md3-nav__btn {
  bottom: 7rem !important;
}

/* colouring */
body.light .md3-nav__item-radio:checked + .md3-nav__item .md3-nav__item__icon {
  color: var(--color-on-primary) !important;
  background: var(--color-primary) !important;
}

body.dark .md3-nav__item-radio:checked + .md3-nav__item .md3-nav__item__icon {
  background: var(--color-primary-container) !important;
}
